html {
  background-color: #343838;
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 0, 100% 62%, 72% 94%, 0 94%, 0 0);
  position: absolute;
  z-index: -1;
}

h1 {
  color: white;
  font-family: "Recursive", sans-serif;
  text-align: center;
  text-shadow: 2px 2px #008c9e;
}

#container {
  height: 200px;
  width: 550px;
  background-color: #008c9e;
  box-shadow: 0 0 8px #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px 1fr;
  margin: 0 auto;
  border: 5px solid #005f6b;
}

#input {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  font-family: "Recursive", sans-serif;
}

#meter {
  height: 40px;
  width: 125px;
  border-radius: 30px;
  background-color: #005f6b;
  border: none;
  box-shadow: 0 0 5px #ffffff;
  color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  outline: none;
  font-family: "Recursive", sans-serif;
  transition: transform 1s;
}

#meter:hover {
  letter-spacing: 1px;
  background-color: #005f6b;
  border: none;
  box-shadow: 0 0 5px #ffffff;
  color: #ffffff;
  transform: scale(1.05);
}

#feet {
  height: 40px;
  width: 125px;
  border-radius: 30px;
  background-color: #005f6b;
  border: none;
  box-shadow: 0 0 5px #ffffff;
  color: #ffffff;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  outline: none;
  transition: transform 1s;
}

#feet:hover {
  letter-spacing: 1px;
  background-color: #005f6b;
  border: none;
  box-shadow: 0 0 5px #ffffff;
  color: #ffffff;
  transform: scale(1.05);
}

#output {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}
